/* =========Typography Start======== */
body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
a,
ul,
li,
input,
table,
span {
    margin: 0;
    padding: 0;
    color: #1B2945;
    font-family: 'Montserrat', sans-serif;
}

ul li {
    list-style: none !important;
}

a {
    text-decoration: none;
}

.container {
    width: 85%;
    margin: 0px auto;
}

img {
    width: 100%;
    height: auto;
}

/* =========Typography End======== */



/* =========Navbar Start======== */
.navbar-section {
    background: #0D1324;
    padding: 20px 0px 50px 0px;
}

.logo {
    width: 20%;
    float: left;
    overflow: hidden;
}

.logo a {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.menu {
    width: 80%;
    float: left;
    overflow: hidden;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu ul li a {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    transition: all 0.5s ease-in-out;
}

.menu ul li a:hover {
    color: orange;
}

/* =========Navbar End======== */

/* =========Hero Section Start======== */
.hero-section {
    background-image: url(./images/computer.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 150px 0px;
    position: relative;
    text-align: center;
    z-index: 99999;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: -1;
}

.hero-title h1 {
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.hero-title h1 span {
    color: rgb(232, 202, 65);
}

.hero-search {
    position: relative;
    width: 40%;
    margin: auto;
}

.hero-search .searchInput {
    display: block;
    border-radius: 50px;
    border: 0;
    padding: 15px;
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.hero-search .searchBtn {
    content: '';
    position: absolute;
    right: -31px;
    cursor: pointer;
    top: 0;
    border-radius: 0px 50px 50px 0px;
    background: rgb(232 142 65);
    border: 0;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 14px;
}

/* =========Hero Section End======== */

/* =========Transparency Section Start======== */
.transparency-section {
    background: #2b1ae6e1;
    position: relative;
    padding: 150px 0px;
    margin-top: 100px;
}

.transparency {
    display: flex;
    justify-content: center;
}

.transparency-left {
    flex: 30%;
    margin-right: 10%;
}

.transparency-right {
    flex: 40%;
}

.transport-box {
    background: #cdc027;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(211, 211, 211, 0.462);
    border-radius: 20px;
    padding: 40px;
    position: absolute;
    top: -60px;
    width: 30%;
    margin: auto;
}

.transport-box h1 {
    font-size: 40px;
    font-weight: 800;
}

.transport-box h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.transport-box button {
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 10px 15px;
    background: #c92311;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.transport-box button:hover {
    background: #000;
}

.transparency-right h1 {
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.transparency-right h4 {
    color: rgba(255, 255, 255, 0.742);
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.transparency-right button {
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 10px 15px;
    background: #da43cdd4;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.transparency-right button:hover {
    background: #000;
}

/* =========Transparency Section End======== */

/* =========Category Section End======== */
.category-section {
    margin-bottom: 200px;
}

.category {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

.category-title {
    padding-bottom: 30px;
}

.category-item {
    padding: 30px 20px;
    background: #f9f3f3ad;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(211, 211, 211, 0.462);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.category-item:hover {
    background: orange;
    cursor: pointer;
    border: 1px solid rgba(242, 86, 86, 0.462);
}

.category-item h4 span {
    margin-right: 5px;
    font-size: 20px;
}


/* =========Category Section End======== */


/* =========Story Section Start======== */
.story-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.story-title {
    text-align: center;
    margin-bottom: 70px;
}

.story-left {
    flex: 30%;
    margin-right: 5%;
}

.story-right {
    flex: 40%;
    align-items: center;
}

.story-right h1 {
    color: rgb(200, 87, 22);
}

.story-right h2 {
    font-size: 30px;
    padding: 10px 0;
}

.story-right h4 {
    padding-top: 5px;
}

.story {
    display: flex;
    justify-content: space-between;
}

/* =========Story Section End======== */


/* =========Review Section Start======== */
.review-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.review-title {
    text-align: center;
    margin-bottom: 100px;
}

.review-title h3 {
    color: #000;
}

.review-item {
    background: #f9f3f3ad;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(211, 211, 211, 0.462);
    border-radius: 10px;
    text-align: center;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.review-item:hover {
    background: #ba8127;
    cursor: pointer;
}

.review-item h3 {
    margin-top: 55px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 16px;
}

.rating {
    padding: 5px;
}

#rating2 {
    color: orange;
}

.review-item img {
    content: '';
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.review {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

.review-code {
    content: '';
    position: absolute;
    left: 0;
    top: -70px;
}

.review-code h3 {
    font-weight: bold;
    font-size: 70px;
}

.review-item p {
    padding-bottom: 10px;
}

/* =========Review Section End======== */

/* =========Footer Start======== */
.footer-section {
    background: #0D1324;
    padding: 50px 0px;
}

.footet-logo a {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.footer-para {
    color: #f5f5f5a6;
    margin-top: 10px;
    line-height: 20px;
}

.footer-menu .footer-item {
    width: 20%;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footet-title h3 {
    text-transform: capitalize;
    color: white;
    margin-bottom: 10px;
}

.footer-item ul li a {
    display: block;
    text-transform: capitalize;
    line-height: 30px;
    color: #f5f5f5a6;
    transition: all 0.5s ease-in-out;
}

.footer-item ul li a:hover {
    margin-left: 10px;
    color: orange;
}

.copyright p {
    text-align: center;
    color: #f5f5f5a6;
    margin-top: 70px;
}


/* =========Footer End======== */